html {
    scroll-behavior: smooth;
}

:root {
    --color-main: #1b2634; 
    --color-secondary: #40597A;
    --color-text: #f7dc6f;
    --color-text-B: #f9e79f;
    --color-text-C: #fcf3cf;
    --color-button: #f1c40f;
    --color-button-ghost-border: rgba(0, 0, 0, 0);
    --color-black: #000;
    --color-white: #fff;
    --font1: 60px;
    --font2: 40px;
}

@font-face {
    font-family: 'Lato';
    src: url('./assets/fonts/lato.woff2') format('woff2'),
        url('./assets/fonts/lato.woff') format('woff'),
        url('./assets/fonts/lato.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./assets/fonts/gilroy.eot');
    src: url('./assets/fonts/gilroy.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/gilroy.woff2') format('woff2'),
        url('./assets/fonts/gilroy.woff') format('woff'),
        url('./assets/fonts/gilroy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: var(--color-white);
    margin: 0;
    padding: 0;
}

header {
    height: 60px;
    background-color: var(--color-main);
}

header .container {
    display: flex;
    align-items: center;
    background-color: inherit;
    height: 60px;
    width: 90%;
}

.container {
    margin: 0 auto;
    width: 80%;
    background-color: var(--color-white);
}

.a-logo {
    display: inherit;
}

.logo {
    width: 44px;
    height: 44px;
    border: 3px solid var(--color-text-B);
    border-radius: 50%;
    background-color: white;
}

.nav {
    margin-left: auto;
}

.nav-list {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
}

.nav-item {
    padding: 0px 10px;
}

.nav-link {
    color: var(--color-text-B);
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-decoration: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
    transition: .2s linear;
}

.nav-link:hover {
    border-color: inherit;
}

button {
    cursor: pointer;
}

.double-border-button {
    background-color: var(--color-main);
    text-decoration: none;
    margin: 0 10px;
    padding: 7px 24px;
    position: relative;
    border: 2px solid var(--color-button);
    color: var(--color-text-B);
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    transition: .4s;
  }

.double-border-button:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    border: 2px solid var(--color-button-ghost-border);
    transition: .4s;
}

.double-border-button:hover:after {
    border-color: var(--color-button);
    width: calc(100% - 10px);
    height: calc(100% + 10px);
}

.button-burger {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    user-select: none;
    z-index: 2;
}
  
.line {
    width: 80%;
    height: 2px;
    background: var(--color-text-B);
    margin: 3px 0;
    z-index: 15;
    transition: all 0.3s ease-in-out;
}
  
.button-burger.open .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
  
.button-burger.open .line2 {
    opacity: 0;
}
  
.button-burger.open .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

section {
    margin: 5vh 0;
}

h1 {
    font-family: 'Gilroy', sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 30px;
    margin: 0;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 22px;
    margin: 0;
}

section.about {
    margin: 5vh;
}

.about-container {
    display: flex;
    align-items: center;
}

.about-text {
    text-align: center;
    margin: 0 auto;
}

.about-img {
    width: 10em;
    margin: 0 auto;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 19px;
    color: var(--color-text-B);
    padding: 5px;
    margin: 0;
}

.section-title {
    width: max-content;
    margin: 0 auto;
    border-radius: 8px;
    background-color: var(--color-main);
}

@media (max-width: 1024px) {
    
}

/* планшеты */
@media (max-width: 768px) {
    .button-burger {
        display: flex;
    }

    .nav-list {
        display: none;
    }

    header .double-border-button {
        display: none;
    }

    .about-img {
        display: none;
    }

    section.about {
        margin: 4vh 0;
    }
}

/* телефоны */
@media (max-width: 320px) {
    
}